*.pyc
/.cache
/test/fixtures/*
!/test/fixtures/.keep
/.coverage
/test/registry/registry.pem
/test/registry/registry.key
/test/auth/auth.pem
/test/auth/auth.key
/test/ca.*
/dist
/python_dxf.egg-info
/build
